<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--bean就是java对象 , 由Spring创建和管理-->
    <bean id="hello" class="com.kuang.pojo.Hello">
        <property name="name" value="Spring"/>
    </bean>

    <bean id="OracleImpl" class="com.kuang.dao.impl.UserDaoOracleImpl"/>

    <bean id="ServiceImpl" class="com.kuang.service.impl.UserServiceImpl">
        <!-- 这里的name并不是属性，而是set后面的那部分，首字母小写 -->
        <!-- 引用另外一个bean，不是用value而是用ref -->
        <property name="userDao" ref="OracleImpl"/>
    </bean>

    <bean id="user" class="com.kuang.pojo.User">
        <property name="name" value="狂神"/>
    </bean>

    <!-- 第一种根据index参数下标设置 -->
    <!--<bean id="userT" class="com.kuang.pojo.UserT">
        &lt;!&ndash; index指构造方法，下标从0开始 &ndash;&gt;
        <constructor-arg index="0" value="kuangshen2"/>
    </bean>-->

    <!-- 第二种根据参数名字设置 -->
    <!--<bean id="userT" class="com.kuang.pojo.UserT">
        &lt;!&ndash; name指参数名 &ndash;&gt;
        <constructor-arg name="name" value="name指参数名"/>
    </bean>-->

    <!-- 第三种根据参数类型设置 -->
    <bean id="userT" class="com.kuang.pojo.UserT">
        <constructor-arg type="java.lang.String" value="第三种根据参数类型设置"/>
    </bean>
</beans>